@{
    ViewBag.Title = "Menú Usuario Externo";
    var mensajeExito = ViewBag.MensajeExito as string;

}
<link href="~/css/Menu.css" rel="stylesheet" />

@if (!string.IsNullOrEmpty(mensajeExito))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check-circle"></i>
        @mensajeExito
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="container mt-5">
    <div class="row g-4 justify-content-center">
        <div class="col-md-4">
            <a asp-controller="Tickets" asp-action="Create" class="text-decoration-none ">
                <div class="card-option">
                    <div class="card-title">CREAR UN NUEVO TICKET</div>
                    <div class="card-text">Presiona para crear un ticket nuevo</div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="@Url.Action("History", "Asignaciones")" style="text-decoration: none; color: inherit;">
                <div class="card-option">
                    <div class="card-title">VER HISTORIAL DE MIS TICKETS CREADOS</div>
                    <div class="card-text">Historial de mis TIckets</div>
                </div>
            </a>
        </div>
    </div>
</div>


