body {
    background: #4c38d5;
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-container {
    background-color: white;
    max-width: 950px;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    overflow: hidden;
}

.login-left {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

    .login-left img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }

.login-right {
    padding: 40px;
    background-color: #ffffff;
}

h3 {
    color: #003366;
}

.form-control::placeholder {
    color: #aaa;
}

.input-group-custom {
    position: relative;
    margin-bottom: 20px;
}

    .input-group-custom input {
        padding-left: 40px;
    }

.form-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #003366;
    font-size: 1.2rem;
}

.btn-login {
    background-color: #4c38d5;
    color: white;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

    .btn-login:hover {
        background-color: steelblue;
    }

.forgot-link {
    font-size: 0.9rem;
    color: #003366;
    text-decoration: none;
}

    .forgot-link:hover {
        text-decoration: underline;
    }
